{% set title, page, page_categorie = 'Edit cheque', 'cheque_edit', 'cheque' %}

{% extends 'base.html.twig' %}

{% block title %}{{ title|trans}}{% endblock %}
{% block title_h1 %}{{ title|trans}}{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-body">
            {{ include('cheque/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('cheque/_delete_form.html.twig') }}

            <button class="btn btn-danger mb-3" data-toggle="modal" data-target="#deleteModal">{% trans %}Delete{% endtrans %}</button>
            <br>

            <a href="{{ path('cheque_index') }}">{% trans %}back to list{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
